server:
  port: 3000

spring:
  datasource:
    url: jdbc:postgresql://tramway.proxy.rlwy.net:46271/railway
    username: postgres
    password: pSGrfKHPtfvxMcPpdZrNTKGgiFZtraUI
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  jackson:
    serialization:
      write-dates-as-timestamps: false
